<nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'" nzTip="Working">
    <nz-table #basicTable [nzData]="bookedCars" [nzPageSize]="20" [nzShowPagination]="'false'">
        <thead>
            <tr>
                <th style="font-weight: bolder; color: blue;">From</th>
                <th style="font-weight: bolder; color: blue;">To</th>
                <th style="font-weight: bolder; color: blue;">Days</th>
                <th style="font-weight: bolder; color: blue;">Price</th>
                <th style="font-weight: bolder; color: blue;">Status</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let booking of basicTable.data">
                <td>{{booking.fromDate | date: 'MMM d, y'}}</td>
                <td>{{booking.toDate | date: 'MMM d, y'}}</td>
                <td>{{booking.days}}</td>
                <td>{{booking.price}}</td>
                <td>
                    <strong
                    [ngStyle]="{'color': booking.bookCarStatus === 'APPROVED' ? 'green' : booking.bookCarStatus === 'REGECTED' ? 'blue'}"
                    {{booking.bookCarStatus}}></strong>
                    
                </td>
            </tr>
        </tbody>
    </nz-table>
</nz-spin>